---
layout: master
title: Mostly the ramblings of a mad man!
excerpt: Whinnen.COM is a blog about random stuff n'at.
---
<div id="postex">
  <ul class="posts post_listing list-none">
    {% for post in paginator.posts %}
      <li>
        <header class="entry-title">
          <h2>
            <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
          </h2>
          <aside id="post-content" class="clearfix">
            <category id="category" class="small">
              <ul id="nav" class="list-none category">
                <li class="category">Posted in</li>
                {% for category in post.categories %}
                  <li class="category"><a href="/category/{{ category }}" title="{{ category }}" class="list-none">{{ category }}</a></li>
                {% endfor %}
              </ul>
            </category>
            <category id="category" class="float_right small">
              <ul id="nav" class="list-none category">
                <li class="category"><time datetime="{{ post.date }}">{{ post.date | date_to_string }}</time></li>
              </ul>
            </category>
          </aside>
        </header>
        <div class="content">
          {{ post.content }}
        </div>
        <section>
        <tag id="tag" class="clearfix">
          <div class="center_mod">
            <ul id="nav" class="list-none tag">
              {% for tag in post.tags %}
                <li><a href="/tag/{{ tag }}" title="{{ tag }}" class="list-none">{{ tag }}</a> </li>
              {% endfor %}
            </ul>
          </div>
        </tag>
        </section>
      </li>
    {% endfor %}
  </ul>

  <section>
    <div class="clearfix">
      <nav id="cover">
        <ul id="headernav" class="list-none">
          {% if paginator.previous_page %}
            {% if paginator.previous_page >= 1 %}
              <li><a href="{{ paginator.previous_page_path }}" title="Previous" class="previous"><i></i> <span>Previous</span></a></li>
            {% endif %}
          {% else %}
            <li><i></i> <span></span></li>
          {% endif %}
          {% if paginator.next_page %}
              <li><a href="{{ paginator.next_page_path }}" title="Next" class="next"><span>Next</span> <i></i></a></li>
          {% else %}
            <li><span></span> <i></i></li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </section>

<script type="text/javascript">
  ;(function($){$.fn.unveil=function(threshold){var $w=$(window),th=threshold||0,retina=window.devicePixelRatio>1,attrib=retina?"data-src-retina":"data-src",images=this,loaded,inview,source;this.one("unveil",function(){source=this.getAttribute(attrib);source=source||this.getAttribute("data-src");if(source)this.setAttribute("src",source);});function unveil(){inview=images.filter(function(){var $e=$(this),wt=$w.scrollTop(),wb=wt+$w.height(),et=$e.offset().top,eb=et+$e.height();return eb>=wt-th&&et<=wb+th;});loaded=inview.trigger("unveil");images=images.not(loaded);}$w.scroll(unveil);$w.resize(unveil);unveil();return this;};})(jQuery);
  $(function() { $("img.lazy").unveil(); });
</script>

